.showResult {
  display: none;
  border: solid red;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #2ed6e1;
  font-weight: bold;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  background-color: #e7ed0a;
  border: solid #dd8d19 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-family: Chalkduster, fantasy;
  text-align: center;
  border: solid 5px black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-repeat: repeat;
  padding: 20px; 
  background-color: #dbba18;

}

h4 {
  font-family: Chalkduster, fantasy;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}